//breakpoints

$bp-xxl: 1400px;
$bp-xl: 1200px;
$bp-large: 992px;
$bp-medium: 768px;
$bp-small: 576px;
$bp-xs: 480px;
$bp-xxs: 420px;
$bp-xxxs: 360px;
$bp-tiny: 320px;

//colors

$accent: #FF9000;
$main: #FFFFFF;
$text: #22252D;
$text2: #65676b;
$bgBlack: #22252D;
$bgLight: #E7EBF4;
$accentHover: #EC7F00;
$border: #E7EBF4;
$link: #0088CC;
$linkhover: #005580;

//fonts

$opensans: 'Open Sans', Arial, Helvetica, sans-serif;

//font weight

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semi: 600;
$bold: 700;
$black: 900;
